body {
  font-family:sans-serif;
  font-size:11px;
  display:grid;
  grid-template-columns: 40px calc(80% - 40px) calc(20% - 40px);
}

.cell{
  border: 1px solid red;
  padding: 5px;
}

.observablehq{
 border: 1px solid white;
}

.observablehq:hover{
  border: 1px dashed cyan;
}

.btn{
  cursor:pointer;
  width: 34px;
  height: 34px;
  margin: 3px;
  
}
